In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv("empl.csv", sep=';')
df[df['employees_count'] >= 60]

              tin  year  employees_count
1       105026430  2018              140
2       105026430  2019              126
3       105026430  2020              128
4       105026430  2021              124
5       105026430  2022              116
...           ...   ...              ...
84694  9729025828  2021               79
84764  9729149975  2019               61
84916  9731045772  2020               78
84917  9731045772  2021               83
84918  9731045772  2022               85

[4049 rows x 3 columns]

In [ ]:
avg = df['employees_count'].mean()
print(avg, "среднее количество сотрудников")

13.1524548107701 средний балл